<div class="card-columns">
        <div (click)="verArtista(item)" *ngFor="let item of items" class="card" >
             <img [src]="item.images | noImagen" class="card-img-top" alt="No se encontro la imagen">
             <div class="card-body">
                 <h5 class="card-title">{{item.name}}</h5>
                 <p class="card-text">
                         <span *ngFor="let artista of item.artists" class="badge badge-primary">
                             {{artista.name}}
                         </span>
                 </p>
                 <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
             </div>
         </div> 
     </div>
        